.DS_Store
xcuserdata/
xcshareddata/
Secrets.swift
.build/
Package.resolved
.nimbella/
sim-build/
/backend/packages/**/Package.swift
/backend/packages/**/Keys.swift
/backend/packages/**/Cleanup.swift
/backend/packages/**/build.sh
Package.resolved

